/* Font import -- Importação da fonte */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Global rules -- Regras globais*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Image style -- Estilização da imagem */
#presentation img{
    border-radius: 50%;
    width: 106px;
}

/* Top styling -- Estilo da parte superior */
#presentation span{
    display: block;
}

#presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}