/* Font import -- Importação da fonte */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Global rules -- Regras globais*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    transition: height 1.2s;
    transition-delay: 0.25s;
    transition-timing-function: ease;
    color: var(--text_color_dark_mode);
}

/* Styling the background -- Estilizando o fundo */

body{
    background-image: var(--background_dark_mode);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styling the content box -- Estilizando a caixa do conteúdo */
main#content_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Image style -- Estilização da imagem */
#presentation img{
    border-radius: 50%;
    width: 100px;
}

#presentation img:hover{
    outline: 0.1rem solid var(--outline_color_dark_mode);
}

/* Top styling -- Estilo da parte superior */
#presentation span{
    display: block;
}

#presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 1vh;
}

/* Styling the links -- Estilizando os links da página */
ul{
    list-style: none;
}

#links_area ul li a{
    display: block;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
    border-radius: 0.3rem;
    background-color: var(--background_links_dark_mode);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    outline: 0.03rem solid var(--outline_color_dark_mode);
}

#links_area ul li a:hover{
    outline: 0.1rem solid var(--outline_color_dark_mode);
    background-color: var(--background_hover_links_dark_mode);
    transition: background 0.3s;
}

/* Styling the logo links -- Estilizando os links de logo */
ion-icon{
    font-size: 26px;
}

#footer_box{
    display: block;
    margin: 0 auto;
    width: 55vw;
    padding: 10px;
    padding-top: 3vh;
    max-width: 16rem;
}
footer#logo_links{
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.logos_image{
    padding: 0.7rem;
    border-radius: 50%;
}
.logos_image:hover{
    background-color: var(--background_hover_links_dark_mode);
    transition: background 0.3s;
}

/* Styling the light mode -- Estilizando o modo claro */
    /* First, I gonna create some variables to the colors, that I can change later -- Mas primeiro, vou criar algumas variáveis para as cores, que eu consiga trocar depois */

:root{
    --text_color_dark_mode: white;
    --background_dark_mode: url(./assets/background-dark.png);
    --outline_color_dark_mode: white;
    --background_links_dark_mode: rgba(255, 255, 255, 0.071);
    --background_hover_links_dark_mode: rgba(255, 255, 255, 0.056);
}

#light_mode{
    --text_color_dark_mode: black;
    --background_dark_mode: url(./assets/background-light.png);
    --outline_color_dark_mode: black;
    --background_links_dark_mode: rgba(0, 0, 0, 0.071);
    --background_hover_links_dark_mode: rgba(0, 0, 0, 0.129);
}
        
