/* Font import -- Importação da fonte */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Global rules -- Regras globais*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
}

/* Styling the content box -- Estilizando a caixa do conteúdo */
main#content_box{
    margin: 0 auto;
    border: 1px solid white;
    width: 88vw;
    height: 100vh;
}

/* Image style -- Estilização da imagem */
#presentation img{
    border-radius: 50%;
    width: 106px;
    border: 1px solid rgba(255, 255, 255, 0.64);
}

#presentation img:hover{
    outline: 1px solid white;
}

/* Top styling -- Estilo da parte superior */
#presentation span{
    display: block;
}

span #social_link{
    
}

#presentation{
    padding-top: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* Styling the links -- Estilizando os links da página */
#links_area div{
    border: 1px solid white;
    display: block;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    padding: 15px;
    border-radius: 0.3rem;
}